<div class="row m-4">
    <div class="col-10">
        <div class="card border-3 border-dark">
            <a href="/post/{{id}}">
                <div class="card-header bg-dark d-flex justify-content-between">
                    <h5>{{title}}</h5> <span class="small">by {{user.username}} on {{format_date created_at}}</span>
                </div>
            </a>
            <div class="card-body bg-secondary">
                <p class="card-text">{{post_contents}}</p>
            </div>
        </div>
    </div>
</div>