<div class="row m-4">
    <div class="col-10">
        <div class="card border-3 border-dark">
            <a href="/post/{{post.id}}">
                <div class="card-header bg-dark d-flex justify-content-between">
                    <h5>{{post.title}}</h5> <span class="small">by {{post.user.username}} on {{format_date
                        post.created_at}}</span>
                </div>
            </a>
            <div class="card-body bg-secondary">
                <p class="card-text">{{post.post_contents}}</p>
            </div>
        </div>
    </div>
</div>

{{#if loggedIn}}
<div class="row m-4">
    <div class="col-10">
        <div class="card border-3 border-dark">
            <div class="card-header bg-dark">
            </div>
            <div class="card-body bg-secondary">
                <form id="comment-form">
                    <div class="form-group">
                        <textarea name="comment-body" class="form-control" rows="2"
                            placeholder="Enter comment (255 characters)"></textarea>
                    </div>
                    <button type="submit" class="btn btn-info my-1 w-100">Add Comment</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{/if}}

<div class="row m-4">
    <div class="col-10">
        <div class="card border-3 border-dark">
            <div class="card-header bg-dark">
                <h5>Comments</h5>
            </div>
            <div class="card-body bg-secondary">
                {{> comments post.comments}}
            </div>
        </div>
    </div>
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}